<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Minifig</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous'>
</head>

<body>
    {% include 'nav_module.html' %}
    <div class="col">
        <h2>ID: Theme_Name-Minifigure</h2>
        <img src="1.png" alt="theme_name">
        <h5>Inventory Quantity: 0</h5>
        <h5>Price: N/A</h5>
    </div>
    <div class="col">
        <h3>MiniFig Details</h3>
        <ul>
            <li>MiniFig ID:</li>
            <li>MiniFig Name:</li>
            <li>MiniFig Theme:</li>
            <li>Year Released:</li>
            <li>Appears In:</li>
        </ul>
    </div>
    <div class="container">
        <h3>Appears in Set</h3>
        <img src="" alt="">

    </div>

</body>

</html>