{% extends "base.html" %} 

{% block title %}Browse All MiniFigs{% endblock %}
{%block body %}

    <div class="col">
        <h3>MiniFig Details</h3>
        <ul>
            <li> <img src="{{detailed_fig.img_url}}" alt="fig image" width="300" height="200"> </li>
            <li>MiniFig ID: {{detailed_fig.id}}</li>
            <li>MiniFig Name:{{detailed_fig.name}}</li>
            <li>MiniFig Theme:{{detailed_fig.theme}}</li>
            <li>Year Released:{{detailed_fig.year}}</li>
            <!-- <li>Appears In:</li> -->
        </ul>
    </div>
    {% for seller in sell_info %}
    {% if sell_info %}
    <h6>Sell User Id: {{seller.user_id}}</h6>
    <h6>Quantity: {{seller.quantity}}</h6>
    <h6>Price: {{seller.sell_price}}</h6>
    {# <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.purchase_quantity.label }}<br />
            {{ form.purchase_quantity(size=16) }}<br />
            {% for error in form.purchase_quantity.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        </form> #}
    <a href="/#">Add to Shopping Cart</a>
    {% else %}
    <h6>This Item is not no sale</h6>
    {% endif %}
    {% endfor %}
    <br>
    <br>
    {#
    <div class="container">
        <h3>Appears in Set</h3>
        <img src="" alt="">

    </div>
    #}

{% endblock %}