<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell MiniFigs</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous'>
</head>
<body>
    {% include 'nav_module.html' %}
    <form action="/upload_img.php">
        <input type="file" id="myFile" name="filename">
        <input type="submit">
    </form>
    <form action="/create_fig" method="post">
    <label for="fig_id">MiniFig ID:</label>
    <input type="text" name="fig_id" id="fig_id">
    <label for="fig_name">MiniFig Name:</label>
    <input type="text" name="fig_name" id="fig_name">
    <label for="fig_year">MiniFig Released Year:</label>
    <input type="number" name="fig_year" id="fig_year">
    <label for="fig_theme">MiniFig Theme:</label>
    <input type="number" name="fig_theme" id="fig_theme">
    <label for="fig_quantity">MiniFig Quantity to sell:</label>
    <input type="number" name="fig_quantity" id="fig_quantity">
    <label for="fig_price">Set Your Sell Price: $ </label>
    <input type="number" name="fig_price" id="fig_price">
    <br>
    <input type="submit" value="submit">
    </form>
</body>
</html>