{% extends "base.html" %}

{% block body %}
<div class="sidebar">
    <a href="/user_account/edit">Edit Account Info</a>
    <a href="/user_account/view_purchased">Purchase History</a>
    <a href="/user_account/view_sold">Sold History</a>
</div>
<div class="main_content">
    <h3>Items on sale</h3>
    <ul>
        <li>Item Id:</li>
        <li>Item Name:</li>
        <li>
            <a href="">View Item</a>
            <a href="">Add to Sell</a>
            <a href="">Remove from List</a>
        </li>
    </ul>
</div>
{% endblock %}