{% extends "base.html" %}

{% block body %}
    <div class="search-bar">
        <input type="text" placeholder="Search..">
        <button>Find</button>
    </div>
    <div class="sort-by-year">
            <label for="sort_by_year">Sort by year</label>
            <select name="sort_by_year" id="sort_by_year">
                {% for year in range(2021, 1975, -1) %}
                <option value='{{year}}'>{{year}}</option>
                {% endfor %}
            </select>
    </div>
    <div class="show-fig">
        {% for year in data %}
        <div class="fig-detail">
            <img src="{{year.img_url}}" alt="fig image" width="220" height="260">
            <p>MiniFig Id: {{year.id}}</p>
            <p>MiniFig Name: {{year.name}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}