{% extends "base.html" %}

{% block body %}
    <div class="search-bar">
        <input type="text" placeholder="Search by Name" size="64" id="search">
    </div>
    <div id="search_results" style="background-color: whitesmoke; position: absolute;"></div>
    <div class="sort-by-year">
            <label for="sort_by_year">Sort by year</label>
            <select name="sort_by_year" id="sort_by_year">
                {% for year in range(2021, 1975, -1) %}
                <option value='{{year}}'>{{year}}</option>
                {% endfor %}
            </select>
    </div>
    <div class="show-fig" id="fig-container">
    </div>

<script>
function load_data(year='2021') {
    $.ajax({
        url: "/browse_fig/by_year/" + year,
        method: "GET",
        success: function(data) {
            $('#fig-container').html(data.html)
        }
    })
}

function search_term(value) {
        if (value.length >= 2) {
            $.ajax({
                url: '/browse_fig/by_search?search=' + value,
                method: "GET",
                success: function (data) {
                    $('#search_results').html(data.html)
                }
            })
        }
    }


$(document).ready(function(){
    load_data();
});

$("#sort_by_year").change(function(){
    load_data($(this).val())
});

$('#search').on('input', function () {
    search_term($(this).val())
});

</script>
{% endblock %}
