name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      env:
        ACTIONS_RUNNER_DEBUG: "true"
        ACTIONS_STEP_DEBUG: "true"
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build Docker image
      run: |
        docker build . --file Dockerfile --tag qianlu0826/popcorn:lego-minifigs-latest
        docker push qianlu0826/popcorn:lego-minifigs-latest
